<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Uploaded Documents</h1>

<form method="post" enctype="multipart/form-data" action="/upload">
  <div>
    <label for="document">Select Document:</label>
    <input type="file" name="document" id="document" required>
  </div>
  <button type="submit">Upload</button>
</form>
</body>
</html>